<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="icon" href="/images/favicon.ico">
  </head>
  <body>
    <div class="container">
      <img src="images/fireball-152-196149.png" alt="Spark Fireball">
      #parse( $template )

    </div>
  </body>
</html>