<h2>Welcome</h2>
<p></p>
<p>Dear Friends,</p>
<p>How are you? I hope you are enjoying Cisco Spark.</p>
<p>These are my first steps and I'm still playing around to get some confidence to provide you a Maja Bot</p>
<p>To see Maja just open a room and invite maja@sparkbot.io</p>
<p>Stay tuned for more to come</p>
<br/>
<p>Marko Jamelle</p>
